.dialog-general {
  max-width: 430px;
  width: 100%;
  position: fixed;
  top: 195px;

  border-radius: 8px;
  border: none;

  font-family: "inter", sans-serif;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.profile__edit-form {
  display: flex;
  flex-direction: column;
}

.profile__close-button {
  position: absolute;
  display: flex;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.profile__close-button:hover {
  opacity: 0.7;
}

.profile__edit-form-header {
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
  margin: 34px 64px 54px 36px;
}

.profile__edit-form-input::placeholder {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.profile__edit-form-input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 13px;
  align-self: center;
  width: calc(100% - 72px); /* Ancho fijo restando los márgenes laterales */
  box-sizing: border-box;
  margin: 0 36px;
  outline: none;
  opacity: 0.7;
  font-weight: 600;
}

.profile__edit-form-button {
  padding: 13px 124px 18px;
  margin-bottom: 36px;
  border: none;
  cursor: pointer;

  font-size: 16px;
}

.profile__edit-form-button_save {
  background-color: transparent;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  align-self: center;
  margin-top: 48px;
  width: calc(100% - 72px);
  box-sizing: border-box;
}

.profile__edit-form-button_save:hover {
  opacity: 0.8;
}

.profile__delete-button {
  display: block;
  margin: 0 auto 36px auto;
  width: calc(100% - 72px);
  box-sizing: border-box;
  background-color: #000000;
  color: white;
}
.profile__delete-button:hover {
  opacity: 0.8;
}

/*Formatos para validacion*/
.form__input_type_error {
  border-bottom-color: red;
}

.form__input-error_active {
  color: red;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 0px 35px;
  padding-left: 13px;
  padding-top: 5px;
}

@media screen and (max-width: 590px) {
  dialog {
    max-width: 282px;
  }
  .profile__edit-form-input {
    margin: 0 22px;
  }

  .profile__edit-form-input_name {
    margin-bottom: 30px;
  }
  .profile__edit-form-input_job {
    margin-bottom: 46px;
  }
  .profile__edit-form-button_save {
    max-width: 238px;
    display: flex;
    justify-content: center;
  }
}
