.header {
  display: flex;
  max-width: 880px;
  width: 100%;
  margin: 45px 200px 40px 200px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  display: block;
  max-width: 173px;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .header {
    width: 100%;
    max-width: 320px;
    height: 56px;
    margin: auto;
    padding-top: 28px;
  }

  .header__logo {
    width: 100%;
    height: auto;
    max-width: 320px;
    max-height: 56px;
  }
}
@media screen and (max-width: 590px) {
  .header {
    width: 100%;
    max-width: 320px;
    height: 56px;
    margin: auto;
    padding-top: 28px;
  }

  .header__logo {
    width: 100%;
    height: auto;
    max-width: 320px;
    max-height: 56px;
  }
}
