.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__container {
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__form-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-left: 36px;
  margin-top: 34px;
  margin-bottom: 54px;
}

.popup__form-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 358px;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.popup__form-name:invalid {
  border-bottom: 1px solid red;
}

.popup__form-occupation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 358px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.popup__form-occupation:invalid {
  border-bottom: 1px solid red;
}

.hidden-message {
  display: none;
}

.validation-message {
  color: red;
}

.popup__form-button {
  background: #000000;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  max-width: 358px;
  width: 100%;
  height: 56px;
}

.popup__form-button:disabled {
  background-color: transparent;
  color: #c2c2c2;
  border-color: #c2c2c2;
  pointer-events: none;
}

.popup_opened {
  display: flex;
}

.popup__button-close {
  height: 40px;
  transform: rotate(-45deg);
  background-image: url("../images/cross.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-bottom: 350px;
}

.popup__button-close:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .popup_opened {
    flex-direction: column-reverse;
  }

  .popup__container {
    max-width: 282px;
    width: 100%;
  }

  .popup__form-button {
    max-width: 238px;
    width: 100%;
    height: 46px;
  }

  .popup__form-name {
    max-width: 238px;
    width: 100%;
  }

  .popup__form-occupation {
    max-width: 238px;
    width: 100%;
  }

  .popup__button-close {
    margin-left: 260px;
    margin-bottom: 0;
  }
}
