.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  width: 100%;
}
.profile__content {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
}

.profile__info {
  display: flex;
  align-items: center;
}

.profile__details {
  margin-left: 30px;
}

.profile__details-name {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}

.profile__details-description {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.profile__info-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-size: 10px 10px;
  margin-bottom: 32px;
  margin-left: 18px;
  background: none;
  background-image: url("../images/edit-button.png");
  background-position: center;
  background-repeat: no-repeat;
}

.profile__info-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profile__info-button-add {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  left: 930px;
  top: 194px;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: none;
  background-image: url("../images/cross.png");
  background-position: center;
  background-repeat: no-repeat;
}

.profile__info-button-add:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 880px) {
  .profile {
    max-width: 282px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .profile__content {
    display: grid;
  }

  .profile__info {
    display: grid;
    grid-column: 2 / 5;
    margin-left: 22px;
  }

  .profile__avatar {
    margin-bottom: 30px;
    display: grid;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .profile__details {
    margin-left: 0;
    display: grid;
    grid-row: 2 / 3;
  }

  .profile__details-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }

  .profile__details-description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }

  .profile__info-button {
    margin-bottom: 40px;
    margin-left: 6px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .profile__info-button-add {
    max-width: 282px;
    width: 100%;
    margin-top: 36px;
    display: grid;
    grid-column: 1 / 5;
  }
}
